<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="static/uikit/css/uikit.min.css" />
        <script src="static/uikit/js/jquery-1.11.1.min.js"></script>
        <script src="static/uikit/js/uikit.min.js"></script>
        <script src="static/uikit/js/poll.js"></script>
    </head>
    <body>
    <div class="uk-width-large-1-1 uk-container uk-container-center">
        <div class="uk-width-large-1-1 uk-margin-large-top"> </div>
        <h1 class="uk-text-warning uk-text-center"> error &nbsp --? </h1>
    </div>
    </body>
</html>
