<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="static/uikit/css/uikit.min.css" />
        <script src="static/uikit/js/jquery-1.11.1.min.js"></script>
        <script src="static/uikit/js/uikit.min.js"></script>
        <script src="static/uikit/js/poll.js"></script>
    </head>
    <body>
    <div class="uk-width-large-1-1 uk-container uk-container-center">
        <div class="uk-width-large-1-1 uk-margin-large-top"> </div>

    <div id="error_m" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <h2 class="uk-text-warning uk-text-center"> 请选一个项目投票 </h2>
        </div>
    </div>
    <form class="uk-form" id="fm_poll">
        <fieldset data-uk-margin>
            <legend> <h1 class="uk-text-primary">  {{ title }}  </h1> </legend>
            {% for item in opts %}
            <div class="uk-form-row">
                <h2>
                <label class="uk-text-primary"> 
                    <input type="checkbox">&nbsp&nbsp{{ item }} </input>
                </label>
                </h2> 
            </div>
            {% endfor %}
        </fieldset>
        <div class="uk-width-large-1-1 uk-margin-top"> </div>
        <button id="btn_poll" class="uk-button uk-button-large uk-button-primary uk-width-1-4" type="submit">&nbsp&nbsp 提 &nbsp&nbsp 交 &nbsp&nbsp</button>
    </form>
    </div>
    </body>
</html>
